
main, main > .container {
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > * {
    width: fit-content;
}


/* CONTAINERS */
.product, .no-content, .inscription, .connection
{
    min-height: 18vh;
    width: 50vw;
    padding: 0 20px;
    margin: 10px;
    display: flex;
    background-color: #CCC;
    border-radius: 10px;
}

.no-content
{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}


/* PRODUCTS */
.product-image {
    height: fit-content;
    margin: auto 0;
}

.product-image > img
{
    height: auto;
    width: 150px;
}

.product-description
{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.product-description > .content
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cart-item h3 {
    margin-bottom: 2px;
}

.cart-item h5 {
    margin-top: 0;
}


/* INSCRIPTION */
.inscription, .connection {
    flex-direction: column;
    justify-content: center;
}

.div-inscription > label > input, .div-connexion > label > input{
    align-items: center;
    border-color: #069EE1;
}

.div-inscription > label, .div-connexion > label {
    text-align: right;
    margin-top: 20px;
}

button, #seconnecter {
    max-width: fit-content;
    align-self: center;
}

.div-inscription, .div-connexion{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 20px;
}
