/* DEFINITIONS */
:root
{
    --btn-color: #069EE1;
    --btn-color-hover: #00b0ff;

    --btn-error: rgb(210, 39, 39);

    --text-color: #111;
}

@font-face {
    font-family: "Rubik";
    src: url("./assets/fonts/Rubik-Regular.ttf") format("ttf");
}

html, body
{
    margin: 0;
    padding: 0;
    background: #DDD;
    min-height: 100vh;
    font-family: Rubik, Calibri, sans-serif;
}

body
{
    display: flex;
    flex-direction: column;
}

body > header, body > footer
{
    flex-grow: 0;
}

body > main
{
    flex-grow: 1;
}



/* GENERAL PROPERTIES */
.slanted {
    font-style: italic;
}

.text-center {
    text-align: center;
}

.m-10 {
    margin: 10px;
}



/* BUTTONS */

.btn {
    display: inline-block;
    padding: 5px;
    margin: 2px 5px;
    border-radius: 5px;
    border: 1px solid;
    transition: background-color .1s;
    text-decoration: none;
}

.btn-invisible {
    display: inline;
    padding: initial;
    margin: initial;
    border: none;
}

.btn, .btn:visited { color: var(--text-color); }

.btn:hover {
    transition: background-color .1s;
    text-decoration: underline;
}


.btn-primary {
    border-color: var(--btn-color);
    background-color: var(--btn-color);
}

.btn-primary:hover {
    border-color: var(--btn-color-hover);
    background-color: var(--btn-color-hover);
}


.btn-error {
    border-color: var(--btn-error);
}

.btn-error:hover {
    border-color: var(--btn-error);
    background-color: var(--btn-error);
}


.btn-link {
    border-color: var(--btn-color);
}

.btn-link:hover {
    border-color: var(--btn-color-hover);
}