/* DEFINITIONS */
:root
{
    --btn-color: rgb(44, 167, 245);
    --btn-color-hover: rgb(126, 184, 234);
    --text-color: #111;
}

@font-face {
    font-family: "Rubik";
    src: url("./assets/fonts/Rubik-Regular.ttf") format("ttf");
}

html, body
{
    margin: 0;
    padding: 0;
    background: #DDD;
    min-height: 100vh;
    font-family: Rubik, Calibri, sans-serif;
}

body
{
    display: flex;
    flex-direction: column;
}

body > header, body > footer
{
    flex-grow: 0;
}

body > main
{
    flex-grow: 1;
}



/* GENERAL PROPERTIES */

.text-center {
    text-align: center;
}

.btn {
    padding: 5px;
    margin: 2px 5px;
    border: 1px solid var(--btn-color);
    border-radius: 5px;
    background-color: var(--btn-color);
    transition: background-color .1s;
    text-decoration: none;
}

.btn, .btn:visited { color: var(--text-color); }

.btn:hover {
    border-color: var(--btn-color-hover);
    background-color: var(--btn-color-hover);
    transition: background-color .1s;

    text-decoration: underline;
}

.btn-link {
    background-color: transparent;
}