.banner {
    width: 100%;
}
main, main > .container {
    padding-top: unset;
}

.col {
    display: flex;
    flex-direction: row;
    column-gap: 4vw;
}
.col .item {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 18vw;
}
.item svg {
    width: 4vw;
    height: 4vw;
    margin-right: 0.4vw;
}

.btn-main {
    font-size: 1.5em;
    border-color: var(--btn-color);
}